div {
font size: 189px;
}

.alpha {
	font size: 189px;
	color: red;
	font-style: normal

}
.hole {
	opacity: 0;
	}

.head1 {
	font-size: 25px;
	font-weight: bold;

}
h3
{
	font-size: 18px;
	font-style: normal;
}