div {

}

.alpha {
	font size: 189px;
	/*color: red;*/
	font-style: normal

}
.hole {
	opacity: 0;
	}

.head1 {
	font-size: 25px;
	font-weight: bold;

}
hh
{
	font-size: 18px;
	font-style: normal;
}